@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(205.12deg, rgba(238, 21, 21, 0.5) 17.14%, rgba(255, 129, 57, 0) 117.87%); */
  background: radial-gradient(93.36% 93.36% at 74.39% 29.41%, rgba(238, 21, 21, 0.5) 0%, rgba(255, 129, 57, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  display: grid;
  align-items: center;
  justify-items: center;
}

.container{
  width: 70vw;
  height: 90vh;
  background-color: rgb(214, 135, 138);
  border: 1px solid #000;
  display: grid;
  grid-template-rows: 1fr 4fr 0.25fr;
  
}

.footer{
  text-align: center;
  padding: 0.5em;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  color: rgb(57, 57, 57);
  /* background: linear-gradient(205.12deg, rgba(255, 255, 255, 1) 17.14%, rgba(255, 252, 57, 0.5) 117.87%); */
  background-color: rgb(247, 238, 141);

}

.header{
  font-weight: 600;
  font-size: 8em;
  /* width: 100%; */
  border-bottom: 1px solid #000;
  text-align: center;
  color: rgb(247, 238, 141);
  /* color: transparent; */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(71, 9, 9);
  filter: drop-shadow(5px 5px 5px rgb(207, 58, 105));
}

.container__main{
  
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid #000;
  
  /* backdrop-filter: sepia(90%); */ 
  
}

.pic{
  border-right: 1px solid #000;
  background-image: url(../img/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(80%);
}

.intro{
  background-color: rgb(126, 232, 73);
  display: grid;
  grid-template-rows: 5fr 1fr;
  font-size: 2em;
  padding: 1em;
}

.intro > a{
  border: 1px solid #000;
  text-decoration: none;
  background-color: pink;
  display: grid;
  justify-content: center;
  align-content: center;
  color: black;
  width: 100%;
  height: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.426));
  text-transform: uppercase;
}